.imageStyle {
    height: 590px;
    width: 590px;
    margin-left: 5px;
    margin-top: 5px;
}
.paperStyle {
    height: 400px;
    width: 600px;
    margin: 20px auto;
    align-self: center;
    background-color: transparent
}

.heading{
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    word-spacing: 1.5rem;
    color: #757575;
    margin-top: -2.2rem;
}